h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    border-top: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

button:hover {
    background-color: yellowgreen;
}

.container {
    max-width: 500px;
    margin: 20px auto 0;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}